.main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.main a{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.463);
    max-width: 100px;
    max-height: 200px;
    border: 1px solid black;
}